<header class="relative bg-[url('assets/images/global/background.png')] bg-cover bg-center shadow-md py-8 px-4 bg-[var(--color-main)]">

    <div class="mx-auto flex items-center justify-center gap-4 max-w-[70%] rounded-lg py-4 px-3 md:py-6 md:px-4 bg-[var(--color-neutral)] text-[var(--color-text-accent)]">

        <!-- linkes Logo -->
        <img src="assets/images/global/neuron.png" alt="Logo Neuron" aria-hidden="true" class="hidden lg:block w-20 scale-x-[-1]">

        <div class="text-center font-[Orbitron] mx-4">
            <h1 class="text-xl md:text-3xl tracking-widest font-bold">System in die Sache bringen</h1>
            <p class="text-sm md:text-lg text-[var(--color-text-muted)]">Beim Gaming. Im Garten. Auf Tour.</p>
        </div>

        <!-- rechtes Logo -->
        <img src="assets/images/global/neuron.png" alt="Logo Neuron" aria-hidden="true" class="hidden lg:block w-20">
    </div>

    <button class="absolute top-3 right-3 md:hidden bg-[var(--color-second)] text-[var(--color-text-accent)] px-3 py-1 rounded-md text-xl" aria-label="Hauptmenü" aria-expanded="false" aria-controls="hauptnavigation">
        ☰
    </button>

</header>


<nav class="main-nav" aria-label="Hauptnavigation" id="hauptnavigation">
    <ul>
        <li><a href="index.html">Startseite</a></li>
        <li><a href="wandern.html">Wandern</a></li>
        <li><a href="radfahren.html">Radfahren</a></li>
        <li><a href="garten.html">Garten</a></li>
        <li><a href="gaming-online.html">Gaming online</a></li>
        <li><a href="gaming-offline.html">Gaming offline</a></li>
    </ul>
</nav>