<header class="site-header">
        <div class="header-box">
            <img src="assets/images/neuron.png" alt="System-Logo" class="header-logo spiegel">

            <div class="header-titel">
                <h1>System in die Sache bringen</h1>
                <p>Beim Gaming. Im Garten. Auf Tour.</p>
            </div>

            <img src="assets/images/neuron.png" alt="System-logo" class="header-logo" aria-hidden="true">
        </div>
        <button class="nav-mobil" aria-label="Menü öffnen"></button>
    </header>


    <nav class="main-nav" aria-label="Hauptnavigation">
        <ul>
            <li><a href="index.html">Startseite</a></li>
            <li><a href="wandern.html">Wandern</a></li>
            <li><a href="radfahren.html">Radfahren</a></li>
            <li><a href="garten.html">Garten</a></li>
            <li><a href="gaming-online.html">Gaming online</a></li>
            <li><a href="gaming-offline.html">Gaming offline</a></li>
        </ul>
    </nav>