/* 
   Breakpoints (Mobile First)
   Mobil:   360px – 767px
   Tablet:   768px – 1023px
   Desktop:  1024px+
*/

:root {
  /* Farbschema*/

  /* Variablen Flächenfarben */
  --color-main: #5B7F8F;
  --color-second: #355E6F;
  --color-neutral: #3C3C3C;
  --color-accent: #D0DAE4;

  /* Variablen Textfarben */
  --color-text-main: #202020;
  --color-text-accent: #FFFFFF;
  --color-text-muted: rgba(255, 255, 255, 0.85);
}

html {
  scroll-behavior: smooth;
}

/* Buttons, Checkboxen, Radiobuttons, Inputs */
/*
.button,
button,
input[type="submit"],
input[type="button"] {
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-second);
  color: var(--color-text-accent);
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.button,
button:hover,
input[type="submit"]:hover {
  background-color: var(--color-main);
}

button:focus-visible,
input[type="submit"]:focus-visible {
  outline: 3px solid var(--color-accent);
  outline-offset: 2px;
}

.button,
button:active,
input[type="submit"]:active {
  transform: translateY(1px);
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--color-second);
}
*/
/* Links */
a:focus-visible {
  outline: 3px solid var(--color-accent);
  outline-offset: 2px;
}

/*Header */
/* Hauptnavigation */
/* aktuelle Seite hervorheben */
.main-nav a[aria-current="page"] {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
}


/* Grid-Layout Seitenlayout*/

/* 1 Spalte für Mobil und Tablet*/
.seitenlayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  align-items: start;
}

/* 3 Spalten für Desktop, links Seitennavigation, mitte content, rechts weißer Rand */
@media (min-width: 1024px) {
  .seitenlayout {
    grid-template-columns:
      150px
      /* Seitennavigation */
      minmax(0, 1fr) 120px;
    /* Abstand zum rechten Bildschirmrand */
    column-gap: 1.5rem;
  }
}


/* Seitennavigation */

@media (min-width: 1024px) {
  .content {
    grid-column: 2;
  }
}


/* Elemtent verstecken, nur für Screenreader sichtbar */
.versteckt {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}


/* Dark-Scheme */

@media (prefers-color-scheme: dark) {
  :root{
      /* Variablen Flächenfarben */
    --color-main:    #1E2F38;   
    --color-second:  #243C47;   
    --color-neutral: #404040;   
    --color-accent:  #8FAFC0;  

      /* Variablen Textfarben */
      --color-text-main: rgba(255, 255, 255, 0.85);
      --color-text-accent: #FFFFFF;
      --color-text-black: #101010;
      --color-text-muted: rgba(255, 255, 255, 0.85);
  }

  body {
    background-color: #202020;
  }
}
