/* 
   Breakpoints (Mobile First)
   Mobil:   360px – 767px
   Tablet:   768px – 1023px
   Desktop:  1024px+
*/

:root {
    padding: 0;

    /* Farbschema*/

    /* Variablen Flächenfarben */
    --color-main: #5B7F8F;
    --color-second:  #355E6F;
    --color-neutral:  #3C3C3C; 
    --color-accent: #D0DAE4;

    /* Variablen Textfarben */
    --color-text-main: #202020; 
    --color-text-accent: #FFFFFF;
    --color-text-muted: rgba(255,255,255,0.85);
}



body {
    margin: 0;
    padding: 0;

    font-family: 'Barlow', sans-serif;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
}

/* Buttons, Checkboxen, Radiobuttons, Inputs */
.button,
button,
input[type="submit"],
input[type="button"] {
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-second);
  color: var(--color-text-accent);
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.button,
button:hover,
input[type="submit"]:hover {
  background-color: var(--color-main);
}

.button,
button:focus-visible,
input[type="submit"]:focus-visible {
  outline: 3px solid var(--color-accent);
  outline-offset: 2px;
}

.button,
button:active,
input[type="submit"]:active {
  transform: translateY(1px);
}

.button,
button:disabled,
input[type="submit"]:disabled {
  background-color: #aaa;
  cursor: not-allowed;
  opacity: 0.6;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--color-second);
}


/*Header */

/* Header Hintergrund */
.site-header {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem;
    background-color: var(--color-main);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Dunkle Box für Titel */
.header-box {
    max-width: 65%;
    margin: 0 auto;
    background-color: var(--color-neutral);
    color: var(--color-text-accent);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem 0.7rem;
    border-radius: 8px;
}

@media (min-width: 768px) {
  .header-box{
    max-width: 70%;
    padding: 1.5rem 1rem;
  }
}

/* Titelbox */
.header-titel {
    text-align: center;
    margin: 0 1rem;
    font-family: 'Orbitron', sans-serif;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.08em;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    opacity: 0.9;
    color: var(--color-text-muted)
  }
}

@media (min-width: 768px) {
  .header-titel{
    h1 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}

/* Logo */
/* Logos nur bei Desktop anzeigen */
.header-logo {
  display: none;
}

@media (min-width: 1024px) {
  .header-logo {
    display: block;
    width: 80px;
    height: auto;
  }
}

/* Logo auf der rechten Seite spiegeln */
.spiegel{
    transform: scaleX(-1);
}

/* Hauptnavigation */

/* Navigation als Hamburger-Menü rechts oben im Header für Mobil */
button.nav-mobil {
  background-color: var(--color-neutral);
}

.nav-mobil {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;

  padding: 0.2rem 0.5rem 0.4rem 0.5rem;
  border: none;
  font-size: 1.5rem;
  color: var(--color-text-accent);
  cursor: pointer;
}


@media (max-width: 767px) {
  .main-nav {
    display: none;
    background: var(--color-second);
  }

  .nav-mobil::before {
    content: "☰";
  }

  .nav-mobil.is-open::before {
    content: "✕";
  }

  .main-nav.nav-open {
    display: block;
  }

  .main-nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav li + li {
    border-top: 1px solid var(--color-accent);
  }

  .main-nav a {
    display: block;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-text-muted);
  }

  .main-nav a:active {
    background-color: rgba(255,255,255,0.1);
  }
}


@media (min-width: 768px){
  /* Hamburger-Menü bei Tablet und Desktop ausblenden */
  .nav-mobil{
    display: none;
  }

  .main-nav {
    display: block;
    background-color: var(--color-second);
    padding: 0 1rem;
    margin-bottom: 2rem;
    position: sticky;
    top: 0; 
    z-index: 1000;
    box-shadow: 0 2px 6px var(--color-neutral);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      justify-content: center;
    }

    li {
      flex: 1;
      max-width: 11rem;
      border-right: 1px solid var(--color-accent);
      display: flex; 

      &:first-child {
        border-left: 1px solid var(--color-accent);
      }
    }

    a {
      flex: 1;                 
      display: flex;
      align-items: center;     
      justify-content: center; 
      padding: 0.5rem 1rem;
      text-align: center;

      color: var(--color-text-accent);
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05em;

      transition: background-color 0.2s ease;

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.12);
      }

      &:focus-visible{
        outline: 2px solid var(--color-accent);
        outline-offset: -2px;
      }
    }
  }
}

/* Main */
main {
    max-width: 80rem; 
    margin: 0 auto;  
    padding: 0 1rem;  
    line-height: 1.6; 
    font-size: 1rem;  
    color: var(--color-text-main);
}

/* Grid-Layout Seitenlayout*/

/* 1 Spalte für Mobil und Tablet*/
.seitenlayout{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: start;
}

/* 3 Spalten für Desktop, links Seitennavigation, mitte content, rechts weißer Rand */
@media (min-width: 1024px) {
  .seitenlayout {
    grid-template-columns:
      150px                 /* Seitennavigation */
      minmax(0, 1fr)
      120px;                /* Abstand zum rechten Bildschirmrand */
    column-gap: 1.5rem;
  }
}


/* Seitennavigation */
/* Seitennavigation für Mobil und Tablet zum Aufklappen oberhalb des Inhalts */
@media (max-width: 1023px) {
  /* Button für Inhaltsanzeige */
  .button-side-nav {
      display: inline-block;
      background: var(--color-second);
      color: var(--color-text-accent);
      border: none;
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
      font-size: 0.9rem;
      margin-top: 1rem;
  }

  .side-nav {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    
    display: none;               
    align-items: flex-start;
    justify-content: center;
    padding-top: 5rem;
    z-index: 2000;

    /* Seitennavigation bei Klick auf Button anzeigen */
    &.is-open {
      display: flex;
    }
  }

  .inner-side-nav {
    position: relative;
    width: 90%;
    max-width: 400px;
    background: var(--color-second);
    border-radius: 0.75rem;
    padding: 1.2rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li + li {
      margin-top: 0.6rem;
    }
      a {
      display: block;
      padding: 0.4rem 0.8rem;
      border-radius: 0.4rem;
      text-decoration: none;
      color: var(--color-text-accent);
    }

    a:hover,
    a:focus {
      background: color-mix(in srgb, var(--color-accent) 25%, transparent);
    }
  }

    .button-side-nav-close {
      margin-bottom: 0.6rem;
    }

}

@media (min-width: 768px) {
  .button-side-nav {
    margin-top: 0;        /* geringerer Abstand zur Mainnav bei Tablet */
  }
}

/* Seitennavigation für Desktop-Variante als sticky Box auf der linken Seite */
@media (min-width: 1024px) {
  .button-side-nav {
      display: none;      /* Button Inhalt anzeigen verstecken */
  }

  .button-side-nav-close{
    display: none;        /* Button zum Schließen der Seitennavigation Mobil/Tablet verstecken */
  }

  .side-nav {
      grid-column: 1;     /* Seitennavigation in der ersten Grid-Spalte */
      align-self: start;  /* verhindert volle Höhe */
      display: block;
      position: sticky;   /* fix auf der linken Seite */
      top: 4rem;
      margin-right: .5rem;

      a:hover,
      a:focus {
        background: color-mix(in srgb, var(--color-accent) 25%, transparent);
        color: var(--color-text-accent);
      }
  }

  .inner-side-nav {
    background: color-mix(in srgb, var(--color-second) 92%, black);
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li + li {
      margin-top: 0.4rem;
    }

    a {
      color: var(--color-text-muted);
      text-decoration: none;
      font-size: 0.9rem;
      display: block;
      padding: 0.3rem 0.5rem;
      border-radius: 0.4rem;
    }
  }

}

@media (min-width: 1024px) {
  .content {
    grid-column: 2;
  }
}



/* Footer */
footer {
  background: var(--color-second);
  color: var(--color-text-muted);
  padding: 0.8rem 1rem;
  margin-top: 3rem;
  font-size: 0.85rem;

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 1rem 0;
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }

    a {
      color: var(--color-text-muted);
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: var(--color-text-accent);
      text-decoration: underline;
    }
  } 

  p {
    margin: 0;
    text-align: center;
    opacity: 0.8;
  }
}


/* Elemtent verstecken, nur für Screenreader sichtbar */
.versteckt {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}


/* Dark-Scheme */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-main:    #1E2F38;   
    --color-second:  #243C47;   
    --color-neutral: #404040;   
    --color-accent:  #8FAFC0;   

    --color-text-main:   #202020;
    --color-text-accent: #FFFFFF;
    --color-text-muted:  rgba(255,255,255,0.7);
  }

  .site-header {
    background: var(--color-second);
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    }

    .main-nav {
      background: color-mix(in srgb, var(--color-second) 50%, black);
    }
}
*/
