/* 
   Breakpoints (Mobile First)
   Mobil:   360px – 767px
   Tablet:   768px – 1023px
   Desktop:  1024px+
*/

:root {
  /* Farbschema*/

  /* Variablen Flächenfarben */
  --color-main: #5B7F8F;
  --color-second: #355E6F;
  --color-neutral: #3C3C3C;
  --color-accent: #D0DAE4;

  /* Variablen Textfarben */
  --color-text-main: #202020;
  --color-text-accent: #FFFFFF;
  --color-text-muted: rgba(255, 255, 255, 0.85);
}

html {
  scroll-behavior: smooth;
}

/* Links */
a:focus-visible {
  outline: 3px solid var(--color-accent);
  outline-offset: 2px;
}

/*Header */
/* Hauptnavigation */
/* aktuelle Seite hervorheben */
.main-nav a[aria-current="page"] {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
}

/* Dark-Scheme */

@media (prefers-color-scheme: dark) {
  :root{
      /* Variablen Flächenfarben */
    --color-main:    #1E2F38;   
    --color-second:  #243C47;   
    --color-neutral: #404040;   
    --color-accent:  #8FAFC0;  

      /* Variablen Textfarben */
      --color-text-main: rgba(255, 255, 255, 0.85);
      --color-text-accent: #FFFFFF;
      --color-text-black: #101010;
      --color-text-muted: rgba(255, 255, 255, 0.85);
  }

  body {
    background-color: #202020;
  }
}
