/* gaming-online.html */
/* Waffen-Liste */
.gaming-online {
  li.not-active {
    background: var(--color-accent);
    color: var(--color-text-main);
  }
}

.waffe.is-highlighted {
  background: color-mix(in srgb, var(--color-main) 40%, transparent);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}

.waffe.is-dimmed {
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

/* Dark-Scheme */
@media (prefers-color-scheme: dark) {
  /* gaming-online.html */

  .gaming-online {
    .charakter-liste {
      li.not-active {
        background: color-mix(in srgb, var(--color-accent) 80%, transparent);
        color: var(--color-text-black);
      }
    }

    .waffe.is-highlighted {
      background: color-mix(in srgb, var(--color-main) 80%, transparent);
      box-shadow: 0 6px 18px rgba(255, 255, 255, 0.2);
      color: var(--color-text-accent);
    }
  }

  /* gestapelte Tabelle für Waffenliste (Mobil)*/
  @media (max-width: 767px) {
    .gaming-online {
      li.not-active {
        background: var(--color-accent);
        color: var(--color-text-main);
      }

      .waffe.is-highlighted {
        background: color-mix(in srgb, var(--color-accent) 30%, transparent);
        box-shadow: 0 6px 18px rgba(255, 255, 255, 0.2);
        color: var(--color-text-accent);
      }
    }
  }
}

/* gaming-offline.html */
/* Sortierpfeile im Header bei Tablet und Desktop */
@media (min-width: 768px) {
  .table-gaming-offline {
    thead {
      .asc::after {
        content: " ▲";
        opacity: 1;
        color: #ff7b00;
      }

      .desc::after {
        content: " ▼";
        opacity: 1;
        color: #ff7b00;
      }
    }
  }
}